<form method="POST" action="/new">
  <div class="message-info-container">
    <div>
      <input type="text" name="userName" required placeholder="username" />
      <input type="text" name="messageText" required placeholder="message" />
    </div>
  <button type="submit">Send</button>
  </div>
</form>
