<form method="POST" action="/new">
  <h1>New form</h1>
  <input type="text" name="userName" required placeholder="username" />
  <input type="text" name="messageText" required placeholder="message" />
  <button type="submit">Send</button>
</form>
